@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.swiper {
  display: flex !important;
  flex-direction: column-reverse;
  gap: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.dual-bg {
  @apply bg-no-repeat;
  background-image: url("/public/assets/images/bg-1.png"),
    url("/public/assets/images/bg-2.png");
  background-position: left bottom, right bottom;
  background-size: 30% auto, 30% auto;
}

.dual-bg-clinix {
  @apply bg-no-repeat;
  background-image: url("/public/assets/images/bg-clinix-1.png"),
    url("/public/assets/images/bg-clinix-2.png");
  background-position: left bottom, right bottom;
  background-size: 30% auto, 30% auto;
}
